body{
    
    display: flex;
    margin-top: 20px;
    height: 100vh;
    width: 100vh;
}
.register{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: auto;
    left: 320px;
    border-radius: 2mm;
    border: 0.5mm solid black;

}
.login{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: auto;
    left: 320px;
    border-radius: 2mm;
    border: 0.5mm solid black;
}
